services:
# TODO  Для каждого пользователя сколько раз использовал команду

  bot:
    build: .
    container_name: go-tg-bot
    restart: on-failure
    env_file: .env
    depends_on:
      - postgres
    environment:
      - TZ=Europe/Moscow

  postgres:
    image: postgres:17.4-alpine
    container_name: postgres
    restart: on-failure
    env_file: .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:


